

@{
    ViewData["Title"] = "Home Page";
}

@model List<EducationModel>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">@item.Name</div>
                <div class="card-body">
                    <p>
                        @item.Description
                    </p>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-primary">İncele</a> <a href="" class="btn btn-primary">Ders Videosu</a>
                </div>
            </div>
        </div>
    }
</div>
